.App {
  text-align: center;

}


.downloadLink {
  background-color: #F7F7F8;
  border: none;
  color: #4B286D;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 30px;
  border-radius: 10px;
}

.downloadLink:hover {
  color: #2B8000;
  background-color: #fff;
  transition: 0.3s;
}
